.character-card {
  width: 250px;
  height: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  padding: 0.5rem;
  margin: 0.5rem;
  display: inline-block;
  border-radius: 7px;
}

.character-name {
  font-size: 1.7em;
}

.character-status {
  font-size: 0.7em;
  display: inline-block;
  padding: 0.2rem;
  border-radius: 5px;
}

.character-status.alive {
  background-color: rgb(19, 207, 19);
  color: black;
}

.character-status.dead {
  background-color: rgb(255, 174, 0);
  color: black;
}

.character-status.unknown {
  background-color: yellow;
  color: black;
}
